{% extends 'base.html.twig' %}

{% block title %}Войти!{% endblock %}

{% block body %}

<div class="container">
    <div class="col-4 ">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}


                        <h1 class="h3 mb-3 font-weight-bold">Войти в учетную запись</h1>
                        <label for="inputEmail">Введите email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control" placeholder="Email" required autofocus>
                        <label for="inputPassword">Введите пароль</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder="Password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>

                        <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                    </div>
                </div>
            </form>


            <style>
                form {
padding-top: 80px;
                }
                body{
                    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../img/bg-masthead.jpg");
                    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg");}
                h1{
                    text-align: center;
                }
            </style>
            {% endblock %}
