{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}

    <body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="register">

                    <h1>Создание учетной записи</h1>
                    {{ form_start(registrationForm) }}
                    <div class="name_row">
                        {{ form_row(registrationForm.email, {'attr':{'class': 'form-control','title' :'emailer'}}) }}
                        {{ form_row(registrationForm.plainPassword,{'attr':{'class': 'form-control'}}) }}
                    </div>
                    <button class="btn btn-primary">Подтвердить</button>

                    {{ form_end(registrationForm) }}
                </div>

            </div>
        </div>
    </div>
    </body>
    <style>
        .register {
            padding-top: 170px;

        }



        h1 {
            text-align: center;
        }
        .contact-section{
            padding-top: 70px;
        }
        footer{
            padding-top: 30px;
        }
    </style>
{% endblock %}
