{#<form method="post" action="{{ path('todo_delete', {'id': todo.id}) }}" onsubmit="return confirm('Вы уверены?');">#}
{#    <input type="hidden" name="_method" value="DELETE">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo.id) }}">#}
{#    <button class="btn btn-lg btn-primary">Удалить</button>#}
{#</form>#}
{#<style>#}

{#</style>#}