{% block body %}
    <body>
{{ form_start(form) }}
    {{ form_widget(form) }}

{{ form_end(form) }}
    </body>
    <style>
body {

background: url("../img/bg-masthead.jpg") no-repeat fixed  center ;
-webkit-background-size: 100%;
}
    </style>
{% endblock %}