{% extends 'base.html.twig' %}

{% block title %}Edit Todo{% endblock %}

{% block body %}
    <h1>Edit Todo</h1>

    {{ include('todo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('own_todos') }}">back to list</a>

    {{ include('todo/_delete_form.html.twig') }}
    <style>
        body {
            background: url("../img/bg-masthead.jpg") no-repeat fixed  center ;
            -webkit-background-size: 100%;
        }
    </style>
{% endblock %}
