{% extends 'base.html.twig' %}

{% block title %}Edit Todo{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1>Изменить</h1>

                {{ include('todo/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('own_todos') }}">
                    <button class="btn btn-lg btn-primary">Вернуться к списку</button>
                </a>

                {{ include('todo/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <style>
        .col-5 {
            margin-top: 80px;
        }



        .btn {
            margin-bottom: 5px;
        }
        .contact-section{
            padding-top: 50px;
        }
    </style>
{% endblock %}
