{% extends 'base.html.twig' %}

{% block title %}Edit Todo{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1>Изменить</h1>

                {{ include('todo/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('own_todos') }}">
                    <button class="btn btn-lg btn-primary">Вернуться к списку</button>
                </a>

                {{ include('todo/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <style>

        .btn {
            margin-bottom: 5px;
        }

        *{
            color:white;
        }
    </style>
    <script>
        function deleteTodo() {
            $.post("{{ path("delete_todo", {'todo': todo.id}) }}", {}, function (data) {
                if(data.status === "success") {
                    alert("Успешное удалине!");
                } else {
                    alert("Что-то пошло не так");
                }
            });
        }
    </script>
{% endblock %}
