{% extends 'base.html.twig' %}

{% block title %}New Todo{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12">
            <h1>Заполните форму</h1>
            {{ include('todo/_form.html.twig') }}
            <a href="{{ path('own_todos') }}"><button class="btn btn-lg btn-primary">Вернуться к списку</button></a>
        </div>
    </div>
    <style>



        h1 {
            padding-top: 80px;
            text-align: center;
        }



    </style>
{% endblock %}
